.nav-link {
  font-weight: 700;
  font-size: 1.2rem;
}

.saved-comments {
  background-color: red;
}
.comment {
  background-color: #f3f3f3;
  border: 2px dotted #d8cfcf;
  border-radius: 0.3rem;
  outline: none;
  width: 100%;
}

.comment:focus {
  background-color: white;
}

.buttons {
  margin: auto;
}

.white-bg {
  background-color: white;
  border: 1px solid;
  border-color: #fff #dee2e6 #dee2e6;
}

.statement-container {
  background-color: #ebf7ff;
  border: 3px dotted lightgray;
  border-radius: 10px;
}
